@font-face {
    font-family: "Ubuntu";
    src: url(fonts/Ubuntu/Ubuntu-Light.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 400;
}

.container {
    max-width: 1440px;
    width: 1440px;
    max-height: 100%;
    margin: auto;
}

header {
    max-height: 123px;
    height: 123px;
    margin-top: 31px;
}

.header-content {
    height: 123px;
    display: flex;
}

.logo {
    margin-left: 128px;
    height: 61px;
}

.menu {
    margin-left: 425px;
    display: flex;
    height: 31px;
}

.menu p a {
    color: #4C5866
}

.menu p a {
    margin-right: 60px;
    font-family: "Roboto";
    font-size: 24px;
    color: #4C5866;
}

.menu p img {
    height: 31px;
    width: 37px;
    margin-top: 4px;
}

.menu p:last-child {
    margin-right: 0;
}

.logo a {
    display: block;
    height: 61px;
}

.logo img {
    width: 233px;
}

a {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

#rectangle1 {
    height: 1px;
    width: 1440px;
    position: absolute;
    top: 123px;
}

header .header-content p a {
    transition-duration: 0.4s;
}

header .header-content p a:default {
    color: #4C5866;
}

header .header-content p a:hover {
    color: #FF8282;
}

header .header-content p a:focus {
    color: #FFA6A6;
}

header .header-content p a:active {
    color: #FF4A4A;
}

header .header-content .menu p:default {
    color: #4C5866;
}

header .header-content .menu p:hover {
    filter: brightness(0) saturate(100%) invert(85%) sepia(21%) saturate(5166%) hue-rotate(306deg) brightness(100%) contrast(113%);
}

header .header-content .menu p:focus {
    filter: brightness(0) saturate(100%) invert(99%) sepia(28%) saturate(5494%) hue-rotate(292deg) brightness(100%) contrast(104%);
}

header .header-content .menu p:active {
    filter: brightness(0) saturate(100%) invert(40%) sepia(23%) saturate(1633%) hue-rotate(314deg) brightness(111%) contrast(112%);
}

.hero {
    height: 100%;
    display: block;
}

.hero .banner {
    display: flex;
    height: 620px;
}

.hero .banner .phrase {
    margin-top: 58px;
    margin-left: 120px;
    width: 248px;
}

.hero .banner img {
    height: 549px;
    width: 859px;
    margin-top: 65px;
    margin-left: 140px;
}

.hero .banner .phrase p {
    width: 248px;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: "Roboto";
    font-size: 96px;
    color: #4C5866;
}

.hero #rectangle2 {
    margin-top: 38px;
}

.hero .about {
    display: flex;
    justify-content: center;
}

.hero .about p {
    width: 1312px;
    font-family: "Roboto";
    font-size: 32px;
    color: #4C5866;
}

.hero .place {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hero .place p {
    margin: 0;
    font-family: "Roboto";
    font-size: 96px;
    color: #4C5866;
}

.hero .place #rectangle3 {
    height: 1px;
    margin: 0;
    margin-bottom: 56px;
}

.hero .place #rectangle4 {
    height: 1px;
    margin: 0;
    margin-top: 56px;
    margin-bottom: 80px;
}

.hero .place .address {
    text-align: center;
}

.hero .place .address p {
    font-family: "Roboto";
    font-size: 32px;
    color: #4C5866;
    margin-bottom: 82px;
}

footer {
    height: 172px;
}

footer .container .footer-content {
    display: flex;
    justify-content: space-around;
    background-color: #4C5866;
    height: 131px;
}


footer .container .footer-content a:nth-child(2) {
    color: #FFFFFF;
    font-family: "Ubuntu";
    font-size: 32px;
}

footer .social a img {
    margin: 0 15px;
    height: 40px;
}

footer .social {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    width: 243px;
}

footer #logo2 {
    margin-top: auto;
    margin-bottom: auto;
    width: 25%;
    height: 55%;
}
footer #logo2 img{
    width: 70%;
    height: 100%;
}

footer #number {
    display: flex;
    margin-top: 42px;
}

footer #number {
    width: 270px;
}

footer .social a img:hover {
    filter: brightness(0) saturate(100%) invert(85%) sepia(21%) saturate(5166%) hue-rotate(306deg) brightness(100%) contrast(113%);
}

footer .social a img:focus {
    filter: brightness(0) saturate(100%) invert(99%) sepia(28%) saturate(5494%) hue-rotate(292deg) brightness(100%) contrast(104%);
}

footer .social a img:active {
    filter: brightness(0) saturate(100%) invert(40%) sepia(23%) saturate(1633%) hue-rotate(314deg) brightness(111%) contrast(112%);
}

footer .footer-content a:hover {
    filter: brightness(0) saturate(100%) invert(85%) sepia(21%) saturate(5166%) hue-rotate(306deg) brightness(100%) contrast(113%);
}

footer .footer-content a:focus {
    filter: brightness(0) saturate(100%) invert(99%) sepia(28%) saturate(5494%) hue-rotate(292deg) brightness(100%) contrast(104%);
}

footer .footer-content a:active {
    filter: brightness(0) saturate(100%) invert(40%) sepia(23%) saturate(1633%) hue-rotate(314deg) brightness(111%) contrast(112%);
}

footer .footer-content a {
    transition-duration: 0.4s;
}

header .header-content .logo a img:hover {
    filter: brightness(0) saturate(100%) invert(85%) sepia(21%) saturate(5166%) hue-rotate(306deg) brightness(100%) contrast(113%);
}

header .header-content .logo a img:focus {
    filter: brightness(0) saturate(100%) invert(99%) sepia(28%) saturate(5494%) hue-rotate(292deg) brightness(100%) contrast(104%);
}

header .header-content .logo a img:active {
    filter: brightness(0) saturate(100%) invert(40%) sepia(23%) saturate(1633%) hue-rotate(314deg) brightness(111%) contrast(112%);

}

header .header-content .logo a img {
    transition-duration: 0.4s;
}

@media only screen and (max-width:450px) {
    body{
        max-width: 100%;
        margin: 0;
    }
    .container{
        max-width: 100%;
        max-height: 3800px;
    }
    .header-content #rectangle1{
        max-width: 100%;
    }
    header{
        margin: 0;
        margin-top: 10px;
    }
    .header-content{
        display: flex;
        flex-direction: column;
    }
    .header-content .logo {
        width: 50%;;
        margin:0;
        margin-left: 30%;
    }
    .header-content .logo a img{
        width: 100%;
    }
    .menu{
        width: 100%;
        max-width: 100%;
        width: 97%;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 15px;
    }
    
    .menu p{
        margin: 0;
    }
    .menu p a{
        margin: 0;
        font-size: 16px;
    }
    .menu p img{
        margin: 0;
        max-width: 73px;
        width: 35px;
        height: 30px;
    }
    .hero .banner {
        height: 23%;
    }

    .hero .banner .phrase p {
        font-size: 32px;
        width: 100%;
        margin-left: 110%;
    }

    .hero .banner {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }

    .hero .banner .phrase {
        width: 90px;
        margin: 0;
        margin-top: 10px;
        margin-left: 20%;
    }

    .hero .banner img {
        margin: 0;
        margin-top: 10px;
        margin-left:8%;
        height: 220px;
        width: 90%;
    }

    .hero #rectangle2 {
        width: 100%;
    }

    .hero .about p {
        max-width: 80%;
        width: 100%;
        font-size: 16px;
    }
      .hero .place p {
        font-size: 32px;
    }
    .hero .place{
        height: 100%;
    }

    .hero .place .address p {
        font-size: 24px;
    }

    .hero .place .address img{
        height: 10%;
        width: 90%;
    }

    .hero{
        height: 100%;
    }

    footer{
        margin-top: 10%;
        max-width: 100%;
        height: 80px;
    }
    footer .container .footer-content #logo2{
        margin: 0;
        margin-top: 3%;
        margin-left: 5%;
        height: 80%;
        width: 40%;
    }
    footer .container .footer-content #logo2 img{
        height: 50%;
        width: 80%;
        margin-top: 10%;
    }
    .footer-content #number{
        margin: 0;
        height: 23px;
        font-size: 20px;
        width: 53%;
        position: relative  ;
        top: 35%;
    }
    footer .container .footer-content {
        height: 100px;
    }
    .footer-content .social a:first-child{
        display: block;
        width: 0;
        height: 0;
    }
    .footer-content .social a img{
        width: 0%;
        height: 0%;
    }
    .footer-content .social{
        width: 0%;
        height: 0%;
    }
}
@media only screen and (min-width:450px) and (max-width:1026px) {
    body{
        max-width: 100%;
        margin: 0;
    }
    .container{
        max-width: 100%;
        max-height: 3800px;
    }
    .header-content #rectangle1{
        max-width: 100%;
    }
    header{
        margin: 0;
        margin-top: 10px;
    }
    .header-content{
        display: flex;
        flex-direction: column;
    }
    .header-content .logo {
        width: 25%;;
        margin:0;
        margin-left: 40%;
    }
    .header-content .logo a img{
        width: 100%;
    }
    .menu{
        width: 100%;
        max-width: 100%;
        width: 97%;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 15px;
    }
    
    .menu p{
        margin: 0;
    }
    .menu p a{
        margin: 0;
        font-size: 16px;
    }
    .menu p img{
        margin: 0;
        max-width: 73px;
        width: 35px;
        height: 30px;
    }
    .hero .banner {
        margin-left: 30%;
        height: 23%;
        width: 40%;
    }

    .hero .banner .phrase p {
        font-size: 32px;
        width: 100%;
        margin-left: 65%;
    }

    .hero .banner {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }

    .hero .banner .phrase {
        width: 90px;
        margin: 0;
        margin-top: 10px;
        margin-left: 20%;
    }

    .hero .banner img {
        margin: 0;
        margin-top: 10px;
        margin-left:8%;
        height: 220px;
        width: 90%;
    }

    .hero #rectangle2 {
        width: 100%;
    }

    .hero .about p {
        max-width: 80%;
        width: 100%;
        font-size: 16px;
    }
      .hero .place p {
        font-size: 32px;
    }
    .hero .place{
        height: 100%;
    }

    .hero .place .address p {
        font-size: 24px;
    }
    
    .hero{
        height: 100%;
    }

    footer{
        margin-top: 10%;
        max-width: 100%;
        height: 80px;
    }
    footer .container .footer-content #logo2{
        margin: 0;
        margin-top: 3%;
        margin-left: 5%;
        height: 60%;
        width: 30%;
    }
    footer .container .footer-content #logo2 img{
        height: 50%;
        width: 80%;
        margin-top: 10%;
    }
    .footer-content #number{
        margin: 0;
        height: 23px;
        font-size: 20px;
        width: 53%;
        position: relative  ;
        top: 35%;
    }
    footer .container .footer-content {
        height: 100px;
    }
    .footer-content .social a:first-child{
        display: block;
        width: 0;
        height: 0;
    }
    .footer-content .social a img{
        width: 0%;
        height: 0%;
    }
    .footer-content .social{
        width: 0%;
        height: 0%;
    }
}